* {
    // font-family: Helvetica, sans-serif !important;
}

.detour-widget-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-row-start:2;
    grid-row-end:4;
    grid-column-start: 2;
    grid-column-end: 3;
}

.main-container {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 3vh 40vh 5vh 50vh;
    gap: 0.5em;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    grid-column-start:1;
    grid-column-end: 3;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    /* padding-bottom: 100%; */
    vertical-align: top;
    overflow: hidden;
}

#trajectory-container {
    display: grid;
    grid-template-rows: 85% 5%;
}

.svg-content-responsive {
    display: inline-block;
    /* position: absolute;
    top: 10px;
    left: 0; */
}

.game-slider-container {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.game-slider-container > div {
    width: 80%;
}

// .method-imp-plot-container {
//     grid-column-start: 1;
//     grid-column-end: 4;
// }

.plot-output-container {
    grid-column-start: 1;
    grid-column-end: 3;
}

.shiny-options-group {
    margin-top: 0 !important;
}

.xai-selector-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.saved-points-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr 10%;
}

.plot-carousel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: scroll;
    height: 100%;
}

.plot-output-container > div {
    height: 100%;
}

.card-container {
    height: 100%;
    width: 40vw;
}